<p class="back-icon mt-3 ms-3">
  <%= link_to lists_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</p>
<button class="button-green button-green-lists mb-4"><%= link_to "Ajouter une plante", plants_path %></button>
<h2 class="mx-5 px-5 show-list-title"><%= "#{@list.name} - #{@list.location}" %></h2>
<div class="container-fluid">
  <div class="row row-cols-auto justify-content-center content-plants">
    <% @list.plant_lists.each do |plant_list| %>
      <div class="col p-3">
        <%= link_to plant_path(plant_list), {class: 'text-deco'} do %>
          <div class="card card-index">
            <% plant = @list.plants.where(id: plant_list.plant_id).first %>
            <%= image_tag plant.image_url, alt: plant.name, class: "plant-image" %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= plant.name %></strong></h5>
              <p class="card-text"><i><%= plant.scientific_name %></i></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
