<div class="container">
  <h2 class="title-password">Vous avez oublié votre mot de passe ?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs inputs-password">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions actions-password">
      <%= f.button :submit, "M'envoyer un lien pour réinitialiser mon mot de passe", class: "button-green button" %>
    </div>
  <% end %>
  <div class="link-password">
    <%= render "devise/shared/links" %>
  </div>
</div>
