<div class="container-navbar">
  <div class="navbar-green">
    <%= link_to root_path, class: "logo-navbar" do %>
      <%= image_tag "logo-final.png", id:"logo-navbar" %>
    <% end %>
    <nav class="navbar-expand-lg">
      <div class="container-elements-nav">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to lists_path do %>
                <button class="nav-link nav-link-button"type="button"><i class="fas fa-leaf"></i>Mon Jardin</button>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-link-button dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon Profil</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if current_user != nil %>
                  <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                <% else %>
                  <li><%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
