<div class="container-navbar">
  <div class="navbar-green">
    <%= link_to root_path, class: "logo-navbar" do %>
      <%= image_tag "logo-final.png", id:"logo-navbar" %>
    <% end %>
    <nav class="navbar-expand-lg">
      <div class="container-elements-nav">
        <div>
          <ul class="navbar-nav p-0 buttons-navbar">
            <li class="nav-item">
              <%= link_to lists_path do %>
                <button class="nav-link nav-link-button" type="button"><i class="fas fa-leaf"></i>Mes Jardins</button>
              <% end %>
            </li>
            <% if current_user != nil %>
              <li class="ps-2 py-2 pe-1 sigin-out">
                <%= link_to destroy_user_session_path, class: "nav-link-button", method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </li>
            <% else %>
              <li class="sigin-out">
                <%= link_to new_user_session_path, class: "nav-link-button" do %>
                  <i class="fas fa-sign-in-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
