<div class="container-fluid justify-content-center">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <%= form_for :plant, url: plants_path, method: :get do |f| %>
        <%= f.text_field :name %>
        <%= f.select :plant_type, Plant.select(:plant_type).distinct.collect { |p| [ p.plant_type, p.plant_type ] }.sort_by{|i| i}, include_blank: true %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <%= form_for :plant, url: plants_path, method: :get do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center row-cols-auto">
    <% @plants.each do |plant| %>
      <div class="col p-3">
        <%= link_to plant_path(plant), {class: 'text-deco'} do %>
          <div class="card">
            <%= image_tag plant.image_url, alt: plant.name, class: "plant-image" %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= plant.name %></strong></h5>
              <p class="card-text"><i><%= plant.scientific_name %></i></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
