<div class="container-fluid justify-content-center container-search">
  <nav class="nav-index mt-5">
    <button class="nav-link active" id="nav-home-tab">Rechercher une plante</button>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <%= form_for :plant, url: plants_path, method: :get do |f| %>
        <%= f.text_field :name, placeholder: " Nom" %>
        <%= f.select :plant_type, Plant.select(:plant_type).distinct.collect { |p| [ p.plant_type, p.plant_type ] }.sort_by{|i| i}, include_blank: "Catégorie" %>
        <%= f.text_field :location, placeholder: " Ville" %>
        <%= f.submit "Rechercher", class: "search-btn" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center row-cols-auto mt-5">
    <% if @plants.blank?%>
      <%= "Aucune plante ne correspond à ces critères 😟"  %>
    <% else %>
      <a href="#navbar-example2">
        <i class="fas fa-arrow-circle-up scroll-up-button"></i>
      </a>
    <% end %>
    <% @plants.each do |plant| %>
      <div class="col p-3">
        <%= link_to plant_path(plant), {class: 'text-deco'} do %>
          <div class="card card-index">
            <%= image_tag plant.image_url, alt: plant.name, class: "plant-image" %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= plant.name %></strong></h5>
              <p class="card-text"><i><%= plant.scientific_name %></i></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
