<div class="container ms-4">
  <div class="row">
    <div class="col-auto p-0">
      <p class="back-icon m-3">
        <%= link_to :back do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
      </p>
    </div>
    <div class="col">
      <div class="container bg-light pt-4 shadow-container">
        <p class="title-show"><strong><%= @plant.name.upcase %></strong></p>
        <p class="border-bottom border-dark pb-4 m-0"><i><%= @plant.scientific_name %></i></p>
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col">
            <div class="container border-start border-dark">
              <div class="row pt-4">
                <div class="col">
                  <p><%= image_tag @plant.image_url, class: "img-show" %></p>
                </div>
                <div class="col m-auto">
                  <% if current_user != nil %>
                    <div class="dropdown dropdown-show">
                      <button class="btn dropdown-toggle btn-add-to-list" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajouter à une liste
                      </button>
                      <% if current_user.lists.exists? %>
                        <ul class="dropdown-menu container-drop-show" aria-labelledby="dropdownMenuButton1">
                          <% current_user.lists.each do |list| %>
                            <li><%= link_to list.name, plant_plant_lists_path(@plant.id, list_id: list.id, plant_id: @plant.id), method: :post, class: "dropdown-item drop-show" %></li>
                          <% end %>
                        </ul>
                      <% else %>
                        <%= flash[:notice] = "Vous ne possédez aucune liste" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col"><p><strong>Famille:</strong> <%= @plant.family %></p></div>
                <div class="col"><p><strong>Type:</strong> <%= @plant.plant_type %></p></div>
              </div>
              <div class="row">
                <% waters = @plant.water.split(',')   %>
                <% active = [] %>
                <% indice = 0 %>
                <% waters.each do |water| %>
                  <% active[indice] = water.include?('active') ? 'text-primary' : '' %>
                  <% indice += 1 %>
                <% end %>
                <div class="col"><p><strong>Besoins en eau:</strong> <i class="<%= "fas fa-tint #{active[0]}" %>"></i> <i class="<%= "fas fa-tint #{active[1]}" %>"></i> <i class="<%= "fas fa-tint #{active[2]}" %>"></i></p></div>
                <% suns = @plant.sun_exposure.split(',')   %>
                <% active = [] %>
                <% indice = 0 %>
                <% suns.each do |sun| %>
                  <% active[indice] = sun.include?('active') ? 'fas text-warning' : 'fas' %>
                  <% indice += 1 %>
                <% end %>
                <div class="col"><p><strong>Exposition:</strong> <i class="<%= "#{active[0]} fa-sun" %>"></i> <i class="<%= "#{active[1]} fa-sun" %>"></i> <i class="<%= "#{active[2]} fa-sun" %>"></i></p></div>
              </div>
              <div class="row">
                <div class="col"><p><strong>Ph du sol:</strong> <%= @plant.soil_ph %></p></div>
                <div class="col"><p><strong>Résistance au gel:</strong> <%= @plant.temperature_humidity %></p></div>
              </div>
              <div class="row">
                <div class="col"><p><strong>Taille à mâturité:</strong> <%= @plant.maturity_size %>cm</p></div>
                <div class="col"><p><strong>Zone de rusticité:</strong> <%= @plant.hardiness_zone %></p></div>
              </div>
              <br>
              <% count = 0 %>
              <% paragraphe = "" %>
              <% @plant.description.each_char do |c| %>
                <% paragraphe << c %>
                <% count += 1 if c == '.' %>
                <% if count == 3 %>
                  <% count = 0 %>
                  <p><%= paragraphe %></p>
                  <% paragraphe = "" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
