<p class="back-icon m-3">
  <%= link_to plants_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</p>
<div class="container-show">
  <div class="display-show">
    <p class="txte-show"><%= @plant.image_url %></p>
    <p class="text-show"><strong>Nom:</strong><%= @plant.name %></p>
    <p class="txte-show"><strong>Nom scientifique:</strong><%= @plant.scientific_name %></p>
    <p class="txte-show"><strong>Description:</strong><%= @plant.description %></p>
    <p class="txte-show"><strong>Type:</strong><%= @plant.plant_type %></p>
    <p class="txte-show"><strong>Taille à mâturité :</strong><%= @plant.maturity_size %></p>
    <p class="txte-show"><strong>Exposition:</strong><%= @plant.sun_exposure %></p>
    <p class="txte-show"><strong>Type de sol:</strong><%= @plant.soil_type %></p>
    <p class="txte-show"><strong>Ph du sol:<strong><%= @plant.soil_ph %></p>
    <p class="txte-show"><strong>Floraison:</strong><%= @plant.bloom_time %></p>
    <p class="txte-show"><strong>Granulométrie:</strong><%= @plant.hardiness_zone %></p>
    <p class="txte-show"><strong>Origine:</strong><%= @plant.native_area %></p>
    <p class="txte-show">Soin:<%= @plant.care %></p>
    <p class="txte-show">Luminosité:<%= @plant.light %></p>
    <p class="txte-show">Soil:<%= @plant.soil %></p>
    <p class="txte-show">Arrosage:<%= @plant.water %></p>
    <p class="txte-show">Fertilisation:<%= @plant.fertilizer %></p>
    <p class="txte-show">En pot:<%= @plant.pot %></p>
    <p class="txte-show">En terre:<%= @plant.open_soil %></p>
    <p class="txte-show">Température:<%= @plant.temperature_humidity %></p>
  </div>
    <%= link_to  do %>
      <button class="button-green btn-show"type="button">Add to list</button>
    <% end %>
</div>
