<div class="container">
  <h2 class="title-session">Se connecter</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs inputs-session">
      <%= f.input :email,
                  label: "Email",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: "Mot de passe",
                  required: false,
                  input_html: { autocomplete: "-password" } %>
      <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions actions-session">
      <%= f.button :submit, "Se connecter", class: "button-green button" %>
    </div>
  <% end %>
  <div class="link-session">
    <%= render "devise/shared/links" %>
  </div>
</div>
